<main>
    <div *ngIf="!(afAuth.authState | async)">
        <h1>Login</h1>
        <button mat-raised-button appGoogleSignin>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /> Login with Google
        </button>
        <h5>OR</h5>
        <app-email-login></app-email-login>
    </div>
    <div *ngIf="afAuth.authState | async as user">
        <p>Logged in as <strong>{{ user.email }}</strong></p>
        <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
    </div>
</main>


